.toc-area.toc-area.toc-area {
  position: sticky;
  top: calc(45px + var(--bar));
  .widget.ez-toc {
    list-style: none;
    padding-top: 45px;
    position: absolute;
    left: 100%;
    width: 100%;
    max-width: 360px;
  }
  + {
    #{headings(1,6)} {
      margin-top: 0;
    }
  }
}
