.visitorCounter {
  display: flex;
  gap: 8px;

  &-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--bg0);
    padding: 4px 8px;
    min-width: 80px;

    input {
      background-color: transparent;
      width: auto;
    }
  }
}
