body.admin-bar {
  --wp-bar: 46px;

  min-height: calc(100vh - var(--wp-bar, 0px));

  @media screen and (max-width: 600px) {
    .headroom--not-top {
      --wp-bar: 0px;
    }
  }

  @media screen and (max-width: 782px) {
    --wp-bar: 46px;
  }

  @media screen and (min-width: 783px) {
    --wp-bar: 32px;
  }

  header.global {
    top: var(--wp-bar, 0px);
  }
}
