footer.FNB {
  margin-top: 45px;
  text-align: center;

  .container {
    border-top: 1px solid transparent;
    padding-top: 45px;
    padding-bottom: 45px;
    opacity: 0.3;
    transition: opacity 300ms ease-in-out, border-color 300ms;

    &:hover {
      border-top-color: rgba(var(--RGB_text1), 0.1);
      opacity: 1;

      .icon.logo img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  .icon.logo {
    img {
      width: 36px;
      filter: grayscale(1);
      opacity: 0.2;
      transition: filter 1000ms, opacity 1000ms ease-in-out;
    }
  }
}
