@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}
body.sb-show-main.sb-main-padded {
  padding: 0;
}

* {
  box-sizing: border-box;
}
