.block-editor-editor-skeleton__content * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.block-editor-editor-skeleton__content [class*="container"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 576px) {
  .block-editor-editor-skeleton__content [class*="container"] {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .block-editor-editor-skeleton__content [class*="container"] {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .block-editor-editor-skeleton__content [class*="container"] {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .block-editor-editor-skeleton__content [class*="container"] {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .block-editor-editor-skeleton__content .container-md {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .block-editor-editor-skeleton__content .container-lg {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .block-editor-editor-skeleton__content .container-lg {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .block-editor-editor-skeleton__content .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .block-editor-editor-skeleton__content .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .block-editor-editor-skeleton__content .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .block-editor-editor-skeleton__content .container-fluid {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .block-editor-editor-skeleton__content .container-fluid {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .block-editor-editor-skeleton__content .container-fluid {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .block-editor-editor-skeleton__content .container-fluid {
    max-width: 100%;
  }
}

.block-editor-editor-skeleton__content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.block-editor-editor-skeleton__content [class*="col"] {
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.block-editor-editor-skeleton__content .col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.block-editor-editor-skeleton__content .col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: auto;
}
