hr {
  margin: {
    top: 3rem;
    bottom: 3rem;
    left: auto;
    right: auto;
  }
  background-color: transparent;
  border: 1px dashed #404347;
  height: 0;
  width: 180px;
}

@for $i from 2 through 6 {
  h#{$i} {
    margin-top: 3.2rem;
  }
}
