hr {
  margin: {
    top: 3rem;
    bottom: 3rem;
    left: auto;
    right: auto;
  }
  background-color: transparent;
  border-bottom: {
    width: 2px;
    style: dashed;
  }
  height: 0;
  width: 180px;
}

@for $i from 2 through 6 {
  h#{$i} {
    margin-top: 3.2rem;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.aligncenter {
    align-items: center;
  }
  margin-bottom: 0;
  img {
    margin-bottom: 0;
    border-radius: 2px;
  }
  + p {
    margin-top: 1.6rem;
  }
  figcaption {
    opacity: 0.3;
    word-break: break-all;
    &:hover {
      opacity: 1;
    }
  }
}

blockquote {
  margin-left: 0;
  font-style: italic;
  font-size: 0.8rem;
  border-radius: 2px 0 0 2px;
  padding-left: 1.6rem;
  padding: {
    top: 0.4rem;
    bottom: 0.4rem;
  }
}

.fc-dim {
  font-size: 0.9rem;
}

:not(pre) > code[class*='language-'] {
  padding: {
    left: 4px;
    right: 4px;
  }
  white-space: normal;
  word-break: break-all;
}

.wp-block-embed__wrapper,
iframe {
  width: 100%;
}
