body.light-mode {
  background-color: #f6f8ff;
  color: #333;
  transition: background-color 0.3s ease;

  a {
    color: #333;
    &:hover {
      color: #658dc6;
    }
  }
}
body.dark-mode {
  color: #f2f4f7;
  background-color: #232326;

  a {
    color: #fff;
    &:hover {
      color: #658dc6;
    }
  }
}
