// 노션스타일 리스트
.iconList {
  color: var(--text0);
  display: flex;
  width: 100%;
  column-gap: 8px;
  > a {
    align-self: center;
    font-size: 0.8rem;
    font-family: 'Noto sans', 'sans-serif';
  }
  .imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    img {
      height: 1rem;
      margin-bottom: 0;
    }
  }
}

// sns 리스트
.snsList {
  display: flex;

  a:not(:last-child) {
    margin-right: 8px;
  }

  .icon {
    transition: color 300ms;

    svg {
      width: 18px;
      height: 18px;
    }

    &-dribble {
      &:hover {
        color: #ea4c89;
      }
    }
  }
}

.cardList {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  @supports (gap: 0) {
    gap: 12px;
  }
  .icon-card {
    max-width: 125px;
    margin-bottom: 8px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
    &:hover {
      color: var(--text0);
      .title {
        border: 2px solid rgba(var(--RGB-gl4), 0.5);
      }
    }

    .title {
      padding: 0.1rem 0.25rem 0.125rem;
      border-radius: 4px;
      border: 2px solid rgba(var(--RGB-gl4), 0.125);
      transition: border 0.3s;
    }
  }
}
