@tailwind base;

@import 'functions/*';
@import 'common/root';

@import 'common/global';

// components
@import 'components/modules/*';
@import 'components/list';
@import 'components/alert/*';

// layout
@import 'layouts/*';

// page
@import 'pages/home';
@import 'pages/resume';
@import 'pages/history';

@tailwind components;
@tailwind utilities;
@tailwind variants;
