.editor-styles-wrapper {
  @apply font-sans;

  .wp-block {
    @apply max-w-screen-md mx-auto;

    &.editor-post-title__block .editor-post-title__input {
      @apply font-sans;
    }
  }
}

html :where(.editor-styles-wrapper) {
  pre {
    @apply bg-[#EEEEEE] p-[14px] rounded;
  }
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  margin-top: 50px;
  margin-bottom: 50px;
}
