.block-editor-block-list__layout {
  @apply font-sans;
}

.wp-block {
  @apply max-w-screen-md;

  &.editor-post-title__block .editor-post-title__input {
    @apply font-sans #{!important};
  }
}

html :where(.editor-styles-wrapper) {
  pre,
  .mkaz-code-syntax-block__lang_label {
    font-size: revert;
    line-height: revert;
    margin: revert;
  }
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  margin-top: 50px;
  margin-bottom: 50px;
}
