@import 'functions/*';

@import 'common/global';
@import 'common/root';

html body {
  background-color: transparent;
}

.login-buttons div:nth-child(1) .btn:nth-child(1) {
  display: none !important;
}

body {
  header {
    border-bottom: 1px solid rgba(var(--RGB-gl4), 0.25);
  }

  footer {
    border-top: 1px solid rgba(var(--RGB-gl4), 0.25);
  }

  .login {
    &-container {
      background-color: var(--bg0);
    }
  }

  .comment {
    &-textarea {
      background-color: var(--bg0);
      border: 1px solid rgba(var(--RGB-gl4), 0.25);
      color: var(--text-primary);
    }

    &-form {
      .btn {
        background-color: var(--bg0);
        border: 1px solid rgba(var(--RGB-gl4), 0.25);

        &:hover {
          color: var(--text00);
        }
      }
    }

    &-header {
      .username {
        color: var(--text1);
      }
    }
  }

  button {
    outline: none !important;
  }

  .dropdown {
    background-color: var(--bg0);
    border: 1px solid var(--bg1);

    a {
      color: var(--text0);

      &:hover {
        background-color: var(--bg0);
      }
    }
  }

  .feedback-error {
    --color: #621b18;
    @media (prefers-color-scheme: dark) {
      --color: #ff473f;
    }

    background-color: var(--bg0);
    color: var(--color);
  }
}
