.nav-side {
  position: fixed;
  left: 0;
  top: calc(50% - 30vh);
  width: auto;
  padding-right: 1em;
  max-height: 60vh;
  height: 100%;
  min-height: 50vh;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    z-index: 10;
  }

  &::before {
    top: 0;
    height: 15px;
    background: linear-gradient(
      180deg,
      rgba(var(--RGB-bg1), 1) 0%,
      rgba(var(--RGB-bg1), 0) 100%
    );
  }

  &::after {
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(var(--RGB-bg1), 1) 0%,
      rgba(var(--RGB-bg1), 0) 100%
    );
  }

  &-title {
    position: absolute;
    top: -1.4em;
    z-index: 10;
    padding: 0.25em 1em;
    margin-bottom: 0.2em;
  }

  .list-side {
    padding-top: 15px;
    padding-bottom: 30px;
    height: 100%;
    overflow-y: scroll;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--RGB-text1), 0.1);
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
}
