body.admin-bar {
  header.global {
    top: 32px;

    &.mobile {
      top: 46px;

      @media screen and (min-width: 783px) {
        top: 32px;
      }

      &.shrink {
        top: 0;

        @media screen and (min-width: 600px) {
          top: inherit;
        }
      }
    }
  }
}
