// CSS for the posts/index.tsx template.

@import "~web/scss/variables";

@media screen and (min-width: $breakpoint-medium) {
  #post_list :global(.posts) {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
