.imgTooltip {
  &.show {
    opacity: 1;
  }
  .arrow::before {
    color: rgba(var(--RGB-gd2), 0.8);
  }
  &-inner {
    width: 100%;
    max-width: 360px;
    padding: 0;
    background-color: rgba(var(--RGB-gd2), 0.8);
    padding: 3px;
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }
  &-btn {
    color: var(--text0);
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    max-height: 1.5rem;
    &[aria-describedby] {
      color: var(--primary);
    }
  }
}

.imgTooltip.bs-tooltip {
  &-top {
    .arrow::before {
      border-top-color: currentColor;
    }
    .imgTooltip-inner {
      padding-bottom: 6px;
    }
  }
  &-bottom {
    .arrow::before {
      border-bottom-color: currentColor;
    }
    .imgTooltip-inner {
      padding-top: 6px;
    }
  }
}
