@import 'common/variables';
@import 'common/function/*';

/** Import everything from autoload */
@import './autoload/**/*';
@import 'pages/**/*';

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import 'common/global';
@import 'common/root';
// components
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/wp-classes';
@import 'components/list';
@import 'components/ditto';

// layouts
@import 'layouts/GNB';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/footer';
@import 'layouts/pages';
@import 'layouts/posts/index';
@import 'layouts/tinymce';
