.line-numbers .line-numbers-rows {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-right: 1px solid rgba(153, 153, 153, .5);
}

.command-line-prompt {
  > span:before {
    color: #999;
    content: " ";
    display: block;
    padding-right: 0.8em;
  }

/* Prompt for all users */
  > span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $";
  }

  /* Prompt for root */
  > span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #";
  }

  > span[data-prompt]:before {
    content: attr(data-prompt);
  }
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: none;
  border: 1px dashed #404347;
  height: 0;
}