.block-editor-block-list__layout {
  @apply font-sans;
}


html :where(.editor-styles-wrapper) {
  @apply container box-border;
  pre {
    @apply bg-[#EEEEEE] p-[14px] rounded;
  }

  // 커스텀 스타일
  .inner-max-w-\[300px\] > * {
    max-width: 300px;
  }
  .inner-center > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  margin-top: 50px;
  margin-bottom: 50px;
}

.is-root-container.block-editor-block-list__layout>* {
  margin-left: auto;
  margin-right: auto;
}

.editor-editor-canvas__post-title-wrapper.edit-post-visual-editor__post-title-wrapper h1 {
  @apply mx-auto;
}

.wp-block {
  @apply max-w-screen-md;

  &.editor-post-title__block .editor-post-title__input {
    @apply font-sans #{!important};
  }
}
