.headroom {
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

body {
  --gnbY: 45px;
  --topAreaHeight: calc(var(--gnbY) + var(--wp-bar, 0px));
}

header.global {
  height: var(--gnbY, 45px);
  background-color: var(--bg0);
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;

  .container-fluid {
    position: relative;
    height: 100%;

    > .row {
      height: 100%;
    }
  }
}

.siteIcon {
  height: 100%;
  max-height: 32px;
}
