.callout.container {
  background-color: #f6f8ff;
  border-radius: 4px;
  word-break: keep-all;
  padding: 15px;
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.1);
}

.callout .row {
  margin: 0;
}

.callout div[class*='col']{
  display: flex;
  align-items: center;
}

/* preview */
.editor-styles-wrapper .callout p {
  margin-bottom: 0;
}