[data-postid='18'] + .loader-wrapper {
  display: flex;
}

.loader {
  &-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9900;
    top: 0;
    left: 0;
    background: #1b2832;
    display: none;
    align-items: center;
    justify-content: center;
  }
  &-5 {
    height: 32px;
    width: 32px;
    -webkit-animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    @-webkit-keyframes loader-5-1 {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes loader-5-1 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      -webkit-animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader-5-2 {
      0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        -webkit-transform: translate3d(24px, 0, 0) scale(0.5);
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
    }
    @keyframes loader-5-2 {
      0% {
        transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        transform: translate3d(24px, 0, 0) scale(0.5);
      }
      100% {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      -webkit-animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader-5-3 {
      0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        -webkit-transform: translate3d(-24px, 0, 0) scale(0.5);
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
    }
    @keyframes loader-5-3 {
      0% {
        transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        transform: translate3d(-24px, 0, 0) scale(0.5);
      }
      100% {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
    }
    span::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: auto;
      right: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      -webkit-animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader-5-4 {
      0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        -webkit-transform: translate3d(0, 24px, 0) scale(0.5);
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
    }
    @keyframes loader-5-4 {
      0% {
        transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        transform: translate3d(0, 24px, 0) scale(0.5);
      }
      100% {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
    span::after {
      content: '';
      display: block;
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      -webkit-animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader-5-5 {
      0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        -webkit-transform: translate3d(0, -24px, 0) scale(0.5);
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
      }
    }
    @keyframes loader-5-5 {
      0% {
        transform: translate3d(0, 0, 0) scale(1);
      }
      50% {
        transform: translate3d(0, -24px, 0) scale(0.5);
      }
      100% {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
  }
  &-doodle {
    // element vars
    $scale: 36px;
    $speed: 2s;

    // quick and easy complementary colors
    $angle: 25;
    $color-element: hsl($angle, 100, 65);
    $color-background: hsl($angle + 180, 30, 15);

    position: absolute;
    margin: -#{$scale/2} 0 0 -#{$scale/2};
    border: #{$scale * 0.1} solid $color-element;
    box-sizing: border-box;
    overflow: hidden;
    width: $scale;
    height: $scale;
    left: 50%;
    top: 50%;
    animation: loader-spin $speed linear infinite reverse;
    filter: url(#goo);
    box-shadow: 0 0 0 1px $color-element inset;

    &:before {
      content: '';
      position: absolute;
      animation: loader-spin $speed cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
      background: $color-element;
      transform-origin: top center;
      border-radius: 50%;
      width: 150%;
      height: 150%;
      top: 50%;
      left: -12.5%;
    }
    @keyframes loader-spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
