.share {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  i {
    padding-top: 0.2rem;
  }
  &-item {
    display: flex;
    align-items: center;
    width: 32px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &-label {
    margin-right: 12px;
    display: flex;
    align-items: center;
  }

  // Global Share ui (관리자만)
  &-global {
    position: fixed;
    display: block;
    bottom: 0;
    left: 20px;
    &:hover .share {
      transform: translateY(-4px);
    }
    .share {
      padding: 8px;
      background-color: var(--gd3);
      border-radius: 8px;
      transform: translateY(100%);
      transition: transform 0.3s;
      &:after {
        content: 'admin share menu';
        position: absolute;
        top: -4px;
        left: 0;
        font-size: 8px;
        white-space: nowrap;
        transform: translateY(-100%);
        color: var(--text0);
      }
      &-label {
        display: none;
      }
    }
  }
}
