html,
body {
  scroll-padding-top: 65px;
}

body.admin-bar {
  --bar: 46px;
  min-height: calc(100vh - var(--bar));

  @media screen and (min-width: 783px) {
    --bar: 32px;
  }
}

body {
  --bar: 0px;

  background: var(--bg1);
  color: var(--text-primary);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding-top: 45px;
  min-height: 100vh;

  a {
    text-decoration: none;
    color: var(--text0);

    &:visited {
      color: rgba(var(--RGB-primary), 0.4);
    }

    &:hover {
      color: rgba(var(--RGB-primary), 0.7);
    }

    > *:first-child {
      color: var(--primary);
    }
  }
}

.admin-bar [data-barba='container'] {
  min-height: calc(100vh - 45px - 179px - 45px - 32px);
}
[data-barba='container'] {
  min-height: calc(100vh - 45px - 179px - 45px);
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--RGB-bg2), 0.6);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--RGB-text1), 0.6);
    border-radius: 999px;
  }
}

#{headings(1,6)} {
  color: var(--text00);
}
