html,
body {
  scroll-padding-top: 65px;
}

body.admin-bar {
  --bar: 46px;

  @media screen and (min-width: 783px) {
    --bar: 32px;
  }
}

body {
  --bar: 0px;

  background: var(--bg1);
  color: var(--text0);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding-top: 45px;
  min-height: 100vh;

  &.admin-bar {
    min-height: calc(100vh - var(--bar));
  }
  a {
    text-decoration: none;
    color: var(--text0);

    &:hover,
    &.active {
      color: var(--primary);

      > *:first-child {
        --color: var(--primary);
      }
    }
  }
}

.admin-bar [data-barba='container'] {
  min-height: calc(100vh - 45px - 173px - 45px - 32px);
}
[data-barba='container'] {
  min-height: calc(100vh - 45px - 173px - 45px);
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--RGB_bg2), 0.6);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--RGB_text1), 0.6);
    border-radius: 999px;
  }
}
