$base: (
  // GrayScale Dark
  gd0: #12171f,
  gd1: #161a23,
  gd2: #181c27,
  gd3: #1f2330,
  gd4: #252836,
  gd5: #303645,
  // GrayScale Light
  gl0: #fff,
  gl1: #e6ecf8,
  gl2: #b8becb,
  gl3: #9ba4b7,
  gl4: #6d7484,
  gl5: #404655,
  // Base PointColor
  ColoroftheYear1: #939597,
  ColoroftheYear2: #f5df4d
);

$light: (
  // PointColor
  primary: #0f4c81,
  pointColor0: #9cd941,
  pointColor1: #116ebf,
  // BG
  bg0: #fff,
  bg1: #e1ebf2,
  // Text
  text00: #000,
  text0: #333,
  text1: #4a4f57,
  text2: #868e96,
  text3: #dcdcdc,
  // Code
  codeBg: #e1ebf2,
  codeColor: #5e6687,
  preBg: #e2e2e2
);

$cloudy: (
  // PointColor
  primary: #0f4c81,
  pointColor0: #e8aa8c,
  pointColor1: #5e616a,
  // BG
  bg0: #fff,
  bg1: #415865,
  // Text
  text00: #000,
  text0: #333,
  text1: #4a4f57,
  text2: #868e96,
  text3: #dcdcdc,
  // Code
  codeBg: #ffe1b6,
  codeColor: #5e616a,
  preBg: #ffe1b6
);

$dark: (
  // PointColor
  primary: #fff46a,
  pointColor0: #ffa500,
  pointColor1: #ff4500,
  // BG
  bg0: #2c2f33,
  bg1: #232326,
  // Text
  text00: #fff,
  text0: #c2bfb9,
  text1: #c2bfb9,
  text2: #9ba4b7,
  text3: #515151,
  // Code
  codeBg: #1d1f21,
  codeColor: #f92672,
  preBg: #232326
);

:root {
  @include generate_colors($base);
  @include generate_colors($light);
}

@media (prefers-color-scheme: light) {
  :root {
    @include generate_colors($light);
  }
}

body.cloudy {
  @media (prefers-color-scheme: light) {
    @include generate_colors($cloudy);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include generate_colors($dark);
  }
}
