.article__header {
  padding-left: calc(var(--paddingX) / 2);
  padding-right: calc(var(--paddingX) / 2);
  background-color: var(--bg1);

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    word-break: keep-all;
    margin-bottom: 0.5rem;
  }

  .byline {
    margin-bottom: 1rem;
  }
}

.article__ac {
  display: inline-block;
  padding-top: calc(12px + 26px);
  margin-bottom: 16px;
  padding-left: calc(var(--paddingX) / 2);
  padding-right: calc(var(--paddingX) / 2);

  @media (min-width: 1540px) {
    position: sticky;
    top: calc(45px + var(--wp-bar, 0px));
    margin-bottom: 0;
  }

  &-img {
    position: absolute;
    max-width: 100px;
    right: 100%;
    top: 0;
    margin-top: calc(12px + 26px);
    margin-right: 40px;

    @media (max-width: 1540px) {
      display: none;
    }
  }

  &-title {
    @apply text-black;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;

    @media (min-width: 1540px) {
      display: none;
    }
  }
}
