@import '../../../../styles/global';

.seoPreview {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 16px 0;
  position: relative;

  ._header {
    display: flex;
    align-items: center;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 2px;
    padding-right: 2px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.45s;
    will-change: background-color, color;
    ._favicon {
      border-radius: 2px;
      overflow: hidden;
      line-height: 0;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      img {
        width: 100%;
      }
    }
  }
  ._body {
    font-size: 14px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.45s;
    will-change: box-shadow, color, border;
    box-sizing: border-box;
    border: 1px solid transparent;
    &:hover {
      box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0);
    }
    ._content {
      overflow: hidden;
      font-size: 12px;
      padding: {
        top: 12px;
        bottom: 12px;
      }
      ._description {
        margin-bottom: 4px;
      }
      ._url {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    ._thumnail {
      display: none;
      background: {
        size: cover;
        position: center;
      }
      @include respond-to('md') {
        display: block;
      }
    }
  }
}
