body {
  @apply font-sans;

  &.admin-bar {
    --bar: 46px;
    min-height: calc(100vh - var(--bar));

    @media screen and (min-width: 783px) {
      --bar: 32px;
    }
  }

  --bar: 0px;

  @media (prefers-color-scheme: light) {
    @apply text-green-900;
  }

  color: var(--text-primary);
  background: var(--bg1);
  font-size: 16px;
  padding-top: 45px;
  min-height: 100vh;

  a {
    text-decoration: none;

    &:hover,
    &:hover > *:first-child {
      color: rgba(var(--RGB-primary), 0.8);
    }
  }
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--RGB-bg2), 0.6);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--RGB-text1), 0.6);
    border-radius: 999px;
  }
}

#{headings(1,6)} {
  color: var(--text00);
}
