html {
  font-size: 14px;

  @media (min-width: theme("screens.sm")) {
    font-size: 16px;
  }
}

body {
  @apply font-sans;

  @media (prefers-color-scheme: light) {
    @apply text-gray-900;
  }

  color: var(--text-primary);
  background: var(--bg1);
  padding-top: 45px;
  min-height: 100vh;

  a {
    text-decoration: none;

    &:hover,
    &:hover > *:first-child {
      @apply text-shamrock-500;
    }
  }
}

main {
  min-height: calc(100vh - 45px - 223px - 45px);
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--RGB-bg2), 0.6);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--RGB-text1), 0.6);
    border-radius: 999px;
  }
}

#{headings(1,6)} {
  color: var(--text00);
}

[x-cloak] {
  display: none !important;
}
