.prose {
  a {
    word-break: break-all;
  }
  table {
    @apply my-0;

    :where(tbody tr):not(:where([class~="not-prose"] *)) {
      @apply border-none;
    }
    :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
      padding-left: 0.5714286em;
    }
    :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
      padding-right: 0.5714286em;
    }
  }

  .wp-block-table.is-style-stripes {
    border-bottom: 0;
  }
  .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    @apply border-b border-[color:var(--bg0)] bg-[color:var(--bg0)];
  }

  img {
    margin: 0;
  }
  .blocks-gallery-grid {
    padding: 0;
  }
}

article.entryContent {
  --w: 94%;
  --paddingX: 1rem;
  --paddingY: 1rem;

  @media (min-width: theme("screens.sm")) {
    --paddingX: 1.5rem;
    --paddingY: 1.5rem;
  }

  @media (min-width: theme("screens.md")) {
    --w: 90%;
  }
  @media (min-width: theme("screens.lg")) {
    --w: 800px;
  }

  max-width: var(--w);

  #{headings(1,6)} {
    @apply scroll-mt-[calc(var(--topAreaHeight)+20px)];

    color: var(--text2);
    margin-top: 2rem;
    margin-bottom: 1rem;

    .ez-toc-section {
      scroll-snap-align: start;
    }
  }

  .prose {
    max-width: unset;

    > *:not(p):first-child {
      margin-top: 1rem;
    }

    > *:not(pre):not(ol):not(ul) {
      padding-left: var(--paddingX);
      padding-right: var(--paddingX);
    }

    > ul,
    > ol {
      margin-left: var(--paddingX);
      margin-right: var(--paddingX);
    }

    span[id*="more"] {
      display: none;
    }

    > :first-child:is(span)[id*="more"] + * {
      margin-top: 0;
    }

    .blocks-gallery {
      &-grid {
        margin-top: 0;
        margin-bottom: 0;
        gap: 1em;
      }

      &-item {
        margin: 0;
        padding: 0;
        list-style: none;

        &::before {
          content: none;
        }
      }
    }
  }

  a {
    text-decoration: underline;
    word-break: break-all;
  }

  // hr.wp-block-separator {
  //   margin: calc(var(--paddingY) * 2) auto;
  //   width: 60px;
  //   height: 0;
  //   border-top: 3px dotted var(--text2);
  //   border-bottom: none;
  // }

  .wp-block-columns {
    gap: 8px;
  }
}
