.single-blog article,
.single-dev article {
  --w: 800px;
  --paddingX: 25px;
  --paddingY: 25px;

  @include make-container();
  max-width: var(--w);

  line-height: 1.4;

  header {
    padding-top: calc(12px + 26px);
    padding-bottom: 12px;
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
  }
  .entry-content > *:not(pre):not(ol):not(ul) {
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
  }
  .entry-content {
    background-color: var(--bg0);

    border: 1px solid rgba(var(--RGB-gl4), 0.25);

    margin-top: 26px;
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 4px;

    #{headings(1,6)} {
      color: var(--text2);
      margin-top: 2rem;
      margin-bottom: 1rem;
      .ez-toc-section {
        scroll-snap-align: start;
      }
    }
  }

  hr.wp-block-separator {
    margin: calc(var(--paddingY) * 2) auto;
    width: 60px;
    height: 0;
    border-top: 3px dotted var(--text2);
  }
}
