& {
  display: flex;

  a:not(:last-child) {
    margin-right: 8px;
  }

  .icon {
    transition: color 300ms;

    svg {
      width: 18px;
      height: 18px;
    }

    &-dribble {
      &:hover {
        color: #ea4c89;
      }
    }
  }
}
