article {
  --w: 94%;
  --paddingX: 25px;
  --paddingY: 25px;

  @media (min-width: theme('screens.md')) {
    --w: 90%;
  }
  @media (min-width: theme('screens.lg')) {
    --w: 800px;
  }

  margin: 0 auto;
  max-width: var(--w);
  line-height: 1.4;

  .entry-content {
    @apply border rounded-[6px] border-[#d0d7de] shadow-sm;

    background-color: var(--bg0);
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 20px;

    #{headings(1,6)} {
      color: var(--text2);
      margin-top: 2rem;
      margin-bottom: 1rem;

      .ez-toc-section {
        scroll-snap-align: start;
      }
    }

    .prose {
      max-width: unset;

      > *:not(pre):not(ol):not(ul) {
        padding-left: var(--paddingX);
        padding-right: var(--paddingX);
      }

      > ul,
      > ol {
        margin-left: var(--paddingX);
        margin-right: var(--paddingX);
      }

      span[id*='more'] {
        display: none;
      }

      > :first-child:is(span)[id*='more'] + * {
        margin-top: 0;
      }

      .blocks-gallery {
        &-grid {
          margin-top: 0;
          margin-bottom: 0;
          gap: 1em;
        }

        &-item {
          margin: 0;
          padding: 0;
          list-style: none;

          &::before {
            content: none;
          }
        }
      }
    }

    a {
      text-decoration: underline;
      word-break: break-all;
    }
  }

  hr.wp-block-separator {
    margin: calc(var(--paddingY) * 2) auto;
    width: 60px;
    height: 0;
    border-top: 3px dotted var(--text2);
    border-bottom: none;
  }
}
