// syntax-highlighting-code-block
.wp-block-code {
  position: relative;
}

.wp-block-code .shcb-language {
  clip: initial;
  width: auto;
  height: auto;
  margin: auto;
  clip-path: none;
  position: absolute;
  top: 6px;
  right: 6px;
  line-height: 1em;
  white-space: normal;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.5;
}

.wp-block-code .shcb-language__label,
.wp-block-code .shcb-language__paren,
.wp-block-code .shcb-language__slug {
  display: none;
}

pre {
  padding: 0;
  color: var(--text0);
  font-size: 0.8em;

  + pre {
    margin-top: 1.25em;
  }
}

code {
  &.hljs {
    @media (prefers-color-scheme: light) {
      @apply bg-gray-50;
    }

    background-color: var(--preBg);
    padding: 0.8rem var(--paddingX);
    padding-bottom: calc(0.8rem - 4px);
    overflow-x: scroll;
    white-space: pre;

    &.shcb-wrap-lines {
      white-space: pre-wrap;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(var(--RGB-bg3), 0.6);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(var(--RGB-text1), 0.1);
      border-radius: 999px;
    }

    mark {
      background-color: transparent;

      > * {
        position: relative;
        z-index: 2;
      }

      &:after {
        @apply bg-black;
        content: '';
        opacity: 0.1;
        display: block;
        position: absolute;
        width: 100%;
        height: 1.6em;
        left: 0;
        transform: translateY(-1.7em);
      }
    }
  }

  &:not(.hljs) {
    @apply bg-gray-50;

    @media (prefers-color-scheme: dark) {
      background-color: var(--codeBg);
    }

    font-size: 0.9em;
    color: var(--codeColor);
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
  }
}
