// https://github.com/mkaz/code-syntax-block
// Syntax: scss
// Type: block
// Group: post
// Priority: high
// Last Modification: 2020-01-10

pre.wp-block-code {
  position: relative;
  padding: 0;
  border: none;
  color: var(--text0);
  font-size: 85%;

  + pre {
    margin-top: 1.25em;
  }

  &.whitespace-pre-wrap code {
    white-space: pre-wrap;
  }
}

pre.wp-block-code code {
  padding: 0.8rem var(--paddingX);
  padding-bottom: calc(0.8rem - 4px);
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal;
  font-family: 'D2Coding', monospace;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--RGB-bg3), 0.6);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--RGB-text1), 0.1);
    border-radius: 999px;
  }
}

:not(pre) > code {
  @apply bg-bombay-500 dark:bg-shuttle-gray-500;
  @apply bg-opacity-20 dark:bg-opacity-40;

  @media (prefers-color-scheme: dark) {
    background-color: var(--codeBg);
  }

  font-family: 'D2Coding', monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}
