&-notion {
  color: var(--text0);
  display: flex;
  width: 100%;
  column-gap: 8px;

  > a {
    align-self: center;
    font-size: 0.8rem;
    font-family: 'Noto sans', sans-serif;
  }

  .imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;

    img {
      height: 1em;
      margin-bottom: 0;
    }
  }
}
