&-card {
  @apply gap-[20px];

  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;

  .icon-card {
    max-width: 125px;
    margin-bottom: 8px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;

    &:hover {
      color: var(--text0);

      .title {
        border: 2px solid rgba(var(--RGB-gl4), 0.5);
      }
    }

    .title {
      padding: 0.075rem 0.5rem 0.125rem;
      border-radius: 4px;
      border: 2px solid rgba(var(--RGB-gl4), 0.125);
      transition: border 0.3s;
      color: var(--gd0);
    }
  }
}
