&-side {
  list-style: none;
  padding: 0;
  margin: 0;

  &-children {
    --list-padding: 0.5em;
  }

  &-item {
    position: relative;
    display: block;
    font-size: 0.7em;
    padding: 0.25em 1em;
    padding-left: calc(1em + var(--list-padding, 0px));
    border-radius: 0 999px 999px 0;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(var(--RGB-primary), 0.3);
    }

    &.current::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 100%;
      border-radius: 4px;
      background-image: linear-gradient(
        to bottom,
        var(--pointColor0, #ffa500),
        var(--pointColor1, #eb5757)
      );
      transform: translateY(-50%);
    }
  }
}
