
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-back-in-time:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-share-1:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
